@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1554792234055'); /* IE9 */
  src: url('iconfont.eot?t=1554792234055#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkwAAAJMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQZAE2AiQDCAsGAAQgBYRtBzgbkgXIHpIkgSo8I0DAyQaAEEG0hs7+XwhBAmpAFR0VIwBbVibCFY2rUATC/dFam0clUSe/WPyEWdJ4PrsnujdvCTxEb0RPBUKE0Kxl9qTr+8S9078CCmQ+oBz3orEmTeoC6uJACmhvbJOVSOYNYxe4hPMEKvUqK+ys7x7AmMSaFogLT5owlvNKEkuUC6U1a5N4q0R59iz7wJvw+/HLYoyRKclZJfvnaw4sfmWn5CfFiTOf4COgzSXIMQ0k4rg2umtQMPagyuiQQbCvwuCrovAtYq9Gwf46K78adEPRPYldya0mMritrpqBrlGPI5q7bhXXz99ddpBze/n0YkwuPFwtzT8Nzh+fFGWl/2ea7fwHoem6q7sd0s8iQPE537R/AgUET+7jsT678vKqBL7MKIbu4nPSzw7K92IL/oa4Z0PSpZY5S6q4tjXTfJaySpUoYGej77G6llMnQ7mWEfYyPSly5YbJxJpGiSrLKFVuHZWmbGyu0kQZFKkCky4BQr13ZGp9RK7eJ5lYXyjR6gel6mMQlU6jac8qo+FNbCsymRy0+ujZSSwcK09EhXsk26GpstKQc0Qq9wLYqNaLiQ2KSc2xIO/IJrNAoZII18FlFIYJpirxyeaqy5y2ajVR96aqnUQwYZtCTIw4kKUPeWyJmPDbs4nS5/cQqS1kUi11NeEjRMl5vaOGqnoPckMV96q7l2tyHVITYwISlEQErYNRJBRKoLR+lI/YWJU7IpxqqdnNRF9VdX1N9HU7oJKlz8Kel6tdUG/0k7bvmTEHRgAAAA==') format('woff2'),
  url('iconfont.woff?t=1554792234055') format('woff'),
  url('iconfont.ttf?t=1554792234055') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554792234055#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1201youjiantou:before {
  content: "\e632";
}

