@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1555030258274'); /* IE9 */
  src: url('iconfont.eot?t=1555030258274#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABpAAAAJ5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgpwgQQBNgIkAwwLCAAEIAWEbQdHG9MFyK4xNoZWT1qQ2ZydvRxbWnid4Ue2jywIh8TD11h7f3dPFLxBEk0M3aeTSJpIYiWJlUwpWgqheWLot95uWjX3Uq50tg/JXKhalpIQCc39zw0RqRcKGkmmyfN/283k5pHG6xY6gEwOMMg0i+VZK5JY00ByjDt/GBf0ZYNzQae4MV4WqTVXl651n+dyehPkzo5WHyjHtZZtPOoFGAcU4F4Y9SIpoYxTGF51kDtxn0DTOMdsrI+XWE5hLwvEoSyyWK6QUxSxWReqDXuLeFBRT5epuI++Hz8WI0dSyey1mwcrPjb98FGmh+2AkCfQwxVkLACF2GqsbUoKkbeatZQJsK9pwUe950MQEHsVEvHXua1tMEPriQ+eV9yanh6QQAbVYmMcmGLs8BtD9PVdvGldXtW5feJf1PUFU+DV46N7/3b7+l6T5/t99dKvjb8pCjlNAftcPv1H7EdpgeBtv+2JPaeA98cRT4ElqO84HvwkPThQDKPtz0XTeTorkfUBkQRta6LHTg164x0jcCehbmREomYsQ1Y3QRZ2ARUtS6iqW0bTvHi4ZciQFKWBOYsg9NtIup6Q9TtkYS8qRn1U9UcSTVuhZ7ZMhVxwQuYiDymCypmG4AbdQtx+QtHTGOWNkXhDcuQiUH9Ybm7QQJpjg/rieLoCCJk6MHkMNc2ETqaCnNsvrmtNcCA0vaifTT1WsI4gxoV4IImAimMyCMFoV6Hy+RMk8mgY6lDVtW8QcciTA+IFgNzYDEh1L88on2hscgmAICYdYDILaTQm0JtnKRDH1VdGVCwT6AwT1NZf36F/3zFoss/KkSJH0Tllcuj1mswMMTIUOJXQG4sB') format('woff2'),
  url('iconfont.woff?t=1555030258274') format('woff'),
  url('iconfont.ttf?t=1555030258274') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555030258274#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu-jiangxu:before {
  content: "\e75c";
}

.icon-paixu-shengxu:before {
  content: "\e75d";
}

